###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=change-me
###< symfony/framework-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://app:secret@mysql:3306/mediaupload?serverVersion=8.0"
###< doctrine/doctrine-bundle ###

###> symfony/lock ###
LOCK_DSN=flock
###< symfony/lock ###
